<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844841172523-g6r0lntap6nhs4plvirr64dpusfcgamo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844841172523-g6r0lntap6nhs4plvirr64dpusfcgamo</string>
	<key>API_KEY</key>
	<string>AIzaSyDVPvCwfXFcKHupb4GKhDARGjxm-fT7HQk</string>
	<key>GCM_SENDER_ID</key>
	<string>844841172523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sb.Circles</string>
	<key>PROJECT_ID</key>
	<string>circles19-3a65c</string>
	<key>STORAGE_BUCKET</key>
	<string>circles19-3a65c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844841172523:ios:757fe1fd6e9664a402f46e</string>
	<key>DATABASE_URL</key>
	<string>https://circles19-3a65c.firebaseio.com</string>
</dict>
</plist>